@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 2s;
}
body {
  font-family: "lato", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(252, 215, 237),
    pink,
    rgb(167, 224, 247)
  );

  color: #333;
  line-height: 1.6;
}
#email {
  width: 85%;
}
h1 {
  font-size: 50px;
  font-style: oblique;
  color: rgb(73, 67, 90);
}
#has {
  padding-left: 30%;
  padding-right: 30%;
}
#button {
  display: flex;
  justify-content: center;
}
button {
  background-color: black;
  color: bisque;
  border-radius: 7px;
  height: 35px;
  width: 60px;
}

#v {
  font-size: 20px;

  font-weight: bold;
  color: rgb(106, 133, 133);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
li {
  margin: 0 1em;
}
#header {
  display: flex;
  justify-content: space-around;
  background-color: rgb(142, 140, 219);
  padding: 0%;
}

nav a:hover {
  background-color: #ddd;
  color: #333;
}
#nav-bar a.active {
  background-color: #04aa6d;
  color: white;
}

#header-img {
  height: 200px;
  width: 200px;
}
.container-flex {
  padding-left: 25%;
  padding-right: 25%;
}
.container-flex .card {
  background-color: rgb(228, 190, 233);
  box-shadow: 0 4px 8px 0;
  text-align: center;
  margin: 18px 10px 40px;
}
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }
}
footer {
  background-color: rgb(142, 140, 219);
  padding-left: 20%;
}
.one {
  font-size: 32px;
}
.r {
  display: flex;
}
.r > div {
  flex: 1;
}
